@import "../../styles/colors";

.pagination {
  padding: 15px 0;
  display: flex;
  width: 100%;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pageNumber,
.arrow,
.dots {
  border: none;
  background-color: white;
  cursor: pointer;
}

.dots {
  cursor: unset;
}

.pageNumber:disabled,
.arrow:disabled {
  cursor: default;
}

.pageNumber {
  padding: 8px;
}

.selected {
  color: $main-color;
}
