@import "../../styles/colors";

.logo {
  display: flex;
  align-items: center;
}

.img {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.name {
  display: block;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  background: linear-gradient(to right, $second-color, $main-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .img {
    width: 80px;
    height: 80px;
  }

  .name {
    font-size: 24px;
  }
}

@media screen and (max-width: 575px) {
  .name {
    margin-left: 6px;
  }
}