@import "../../styles/colors";

.main {
  padding: 40px 0;
}

.movie-info {
  display: grid;
  grid-template-columns: 495px auto;
  gap: 56px;
}

.poster {
  width: 100%;
  height: 740px;
  object-fit: cover;
}

.title {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  border-bottom: 1px solid $second-color;
}

.title,
.year,
.genres,
.countries,
.rating,
.age-rating {
  span {
    font-weight: 600;
    color: $main-color;
  }
}

.title,
.year,
.genres,
.countries,
.rating,
.age-rating,
.description {
  padding: 12px 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  border-bottom: 1px solid $second-color;
}

.description {
  border-bottom: none;
  span {
    color:darkgrey;
  }
}

@media screen and (max-width: 767px) {
  .movie-info {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .poster {
    height: 540px;
  }
}

